<!-- Device Detection Libraries -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne">
                    WURFL
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>OnSite</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>License Key required</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Web</td>
                        <td><a target="_blank" href="http://wurfl.sourceforge.net/">http://wurfl.sourceforge.net</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                    WURFL Cloud
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>OnSite</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>License Key required</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>Web</td>
                        <td><a target="_blank" href="http://www.scientiamobile.com/cloud">http://www.scientiamobile.com/cloud</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                    DeviceAtlas Cloud API
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>OnSite</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>License Key required</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>Web</td>
                        <td><a target="_blank" href="https://deviceatlas.com/">https://deviceatlas.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                   aria-expanded="false"
                   aria-controls="collapseFour">
                    Detector
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>OnSite</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>License Key required</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Web</td>
                        <td><a target="_blank" href="https://github.com/dmolsen/Detector">https://github.com/dmolsen/Detector</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                   aria-expanded="false"
                   aria-controls="collapseFive">
                    51Degrees
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>OnSite</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>License Key required</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Web</td>
                        <td><a target="_blank" href="https://51degrees.com/products/device-detection/">https://51degrees.com/products/device-detection</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>