<!-- Device Detection Libraries -->
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>OnSite</th>
        <th>Cloud</th>
        <th>License Key required</th>
        <th>Website / License</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>WURFL</td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td></td>
        <td></td>
        <td><a target="_blank" href="http://wurfl.sourceforge.net/">http://wurfl.sourceforge.net</a></td>
    </tr>
    <tr>
        <td>WURFL Cloud</td>
        <td></td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td><a target="_blank" href="http://www.scientiamobile.com/cloud">http://www.scientiamobile.com/cloud</a></td>
    </tr>
    <tr>
        <td>DeviceAtlas Cloud API</td>
        <td></td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td><a target="_blank" href="https://deviceatlas.com/">https://deviceatlas.com</a></td>
    </tr>
    <tr>
        <td>Detector</td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td></td>
        <td></td>
        <td><a target="_blank" href="https://github.com/dmolsen/Detector">https://github.com/dmolsen/Detector</a></td>
    </tr>
    <tr>
        <td>51Degrees</td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td></td>
        <td></td>
        <td><a target="_blank" href="https://51degrees.com/products/device-detection/">https://51degrees.com/products/device-detection</a></td>
    </tr>
    </tbody>
</table>