<!-- Youtube Video Content -->

<hr>

<h2 class="heading">Your video doesn't work on a mobile device?<span class="text-muted"> - Include it only for desktop user!</span>
</h2>
<p>The Respond Framework makes it possible to specify different content for different device classes. You would like to
    include 3rd party content,
    such as a bulky social media widget, but this content element doesn't convert on a smaller screen? Include it only
    for tablet and desktop user!
    This approach doesn't mean to create and include duplicate content. You can link your partials to multiple device
    classes.
</p><br>

<a href="#play" class="video"><img alt="Video" src="{{# img }}video_thumb.jpg{{/ img }}"></a>